@use '../../../style/mixin.scss' as mixin;
@use '../../../style/variable.scss' as variable;

.home-container {
  display: flex;
  min-height: 400px;
  padding-top: calc(variable.$header-height + 2rem);

  .home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home-intro {
      position: relative;
      width: calc(50% - 1.5rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      animation: intro-animation .8s ease-in;

      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .name {
          font-size: 50px;
          opacity: .8;
          text-align: left;
        }

        .profession {
          font-size: 38px;
          @include mixin.textGradientBackground;
        }
      }

      .description {
        text-align: justify;
        font-size: 16px;
        opacity: .8;
        line-height: 2.2rem;
      }

      .contact-button {
        button {
          @include mixin.button;
        }
      }
    }

    .home-img {
      position: relative;
      background-image: url('https://a.storyblok.com/f/191576/1176x882/f95162c213/profile_picture_hero_before.webp');
      background-position: center;
      background-repeat: none;
      background-size: cover;
      width: 45%;
      aspect-ratio: 1;
      animation: img-animation .8s ease-in;
    }
  }
}

@keyframes intro-animation {
  0% {
    left: -10rem;
    opacity: 0;
  }

  50% {
    left: -10rem;
    opacity: 0;
  }

  100% {
    left: 0rem;
    opacity: 1;
  }
}

@keyframes img-animation {
  0% {
    right: -10rem;
    opacity: 0;
  }

  50% {
    right: -10rem;
    opacity: 0;
  }

  100% {
    right: 0rem;
    opacity: 1;
  }
}