@use '../../style/mixin.scss' as mixin;
@use '../../style/variable.scss' as variable;

.contact-container {
  @include mixin.center;
  flex-direction: column;

  .contact-title {
    @include mixin.sectionTitle;
  }
}