/*
* Sass variable
*/

$max-width: 1440px;
$tablet-breakpoint: 1100px;
$mobile-breakpoint: 650px;

$header-height: 60px;
$font-size: 12px;

$mobile-section-title-font-size: 24px;

$primary-color: #0094AA;
$gradient-primary-color: #AEC6CF;
$gradient-secondary-color: #004C58;
