@use '../../../style/mixin.scss' as mixin;
@use '../../../style/variable.scss' as variable;

/*
* Desktop style
*/
.footer-container {
  @include mixin.center;
  border-top: 1px solid rgba(255, 255, 255, 0.129);
  margin-top: 4rem;
  padding: 2rem 0 0;

  .footer-content {
    opacity: .8;

    span {
      color: variable.$primary-color;
    }
  }
}