@use '../../style/mixin.scss' as mixin;
@use '../../style/variable.scss' as variable;

.work-container {
  @include mixin.center;
  flex-direction: column;
  padding-top: calc(variable.$header-height + 2rem);

  .work-title {
    @include mixin.sectionTitle;
  }

  .work-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

    .project-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      width: 40%;
      z-index: 2;
      position: relative;

      .details-header {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;

        .label {
          color: variable.$primary-color;
          font-size: 1.2rem;
          font-weight: 500;
        }

        .title {
          font-size: 2.5rem;
          opacity: .8;
          font-weight: 800;
          line-height: 2rem;
        }
      }

      .description {
        p {
          border: 1px solid rgba(255, 255, 255, 0.129);
          padding: 2rem;
          border-radius: 12px;
          backdrop-filter: blur(10px);
          width: 103%;
        }

        .project-button {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          a button {
            @include mixin.button;
          }
        }
      }
    }

    .project-img {
      z-index: 0;
      @include mixin.center;
      width: 55%;
      position: relative;

      .img-content {
        border: 2px solid rgba(255, 255, 255, 0.129);
        border-radius: 12px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        aspect-ratio: 2;
        border-radius: 12px;
      }
    }

    &.hidden .project-details,
    &.hidden .project-img .img-content {
      opacity: 0;
    }

    &.slide-in .project-details {
      opacity: 1;
      animation: intro-animation .8s ease-in;
    }

    &.slide-in .project-img .img-content {
      opacity: 1;
      animation: img-animation .8s ease-in;
    }

    &.reversed {
      flex-direction: row-reverse;

      .project-details {
        align-items: flex-end;

        .details-header {
          align-items: flex-end;
        }

        .description {
          p {
            position: relative;
            left: -3%;
          }

          .project-button {
            justify-content: flex-end;
          }
        }


      }

      &.hidden .project-details,
      &.hidden .project-img .img-content {
        opacity: 0;
      }

      &.slide-in .project-details {
        opacity: 1;
        animation: img-animation .8s ease-in;
      }

      &.slide-in .project-img .img-content {
        opacity: 1;
        animation: intro-animation .8s ease-in;
      }
    }
  }
}

@keyframes intro-animation {
  0% {
    left: -10rem;
    opacity: 0;
  }

  50% {
    left: -10rem;
    opacity: 0;
  }

  100% {
    left: 0rem;
    opacity: 1;
  }
}

@keyframes img-animation {
  0% {
    right: -10rem;
    opacity: 0;
  }

  50% {
    right: -10rem;
    opacity: 0;
  }

  100% {
    right: 0rem;
    opacity: 1;
  }
}