@use '../../style/variable.scss' as variable;

.main {
  position: relative;
  top: calc(variable.$header-height + 1rem);
  width: 100%;
  padding: 2rem 1rem;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}